@* Generator: MvcView *@
@* Namespace: FLEX.Web.MVC.Layouts *@

@using FLEX.Web.MVC.Layouts

<!DOCTYPE html>

<html>
   <head>
      <!-- Required for IE compatibility -->
      <meta http-equiv="X-UA-Compatible" content="IE=11; IE=10; IE=9; IE=EDGE" />
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />

      <link href="@(FlexSharedLayout.FlexPath)/Styles/fonts.min.css" rel="stylesheet" media="screen" />
      <link href="@(FlexSharedLayout.FlexPath)/Styles/jquery-ui.min.css" rel="stylesheet" media="screen" />
      
      <!-- "DoNotCacheTag" is needed to avoid issues with IE9 -->
      <link href="@(FlexSharedLayout.FlexPath)/Styles/bootstrap.min.css@(FlexSharedLayout.DoNotCacheTag)" rel="stylesheet" media="screen" />
      <link href="@(FlexSharedLayout.FlexPath)/Styles/bootstrap-switch.min.css" rel="stylesheet" media="screen" />
      
      <link href="@(FlexSharedLayout.FlexPath)/Styles/flex.min.css" rel="stylesheet" media="screen" />
      
      <link href="@(FlexSharedLayout.FlexPath)/Styles/select2.min.css@(FlexSharedLayout.DoNotCacheTag)" rel="stylesheet" media="screen" />
      <link href="@(FlexSharedLayout.FlexPath)/Styles/select2-bootstrap.min.css" rel="stylesheet" media="screen" />

      <!-- respond and html5shiv must be put AFTER CSS for Bootstrap -->
      <!--[if lt IE 9]>  
         <script src="@(FlexSharedLayout.FlexPath)/Scripts/html5shiv.min.js"></script>
         <script src="@(FlexSharedLayout.FlexPath)/Scripts/respond.min.js"></script>
      <![endif]-->
      
      <script type="text/javascript" src="@(FlexSharedLayout.FlexPath)/Scripts/jquery.min.js"></script>
      <script type="text/javascript" src="@(FlexSharedLayout.FlexPath)/Scripts/jquery-ui.min.js"></script>
      <script type="text/javascript" src="@(FlexSharedLayout.FlexPath)/Scripts/underscore.min.js"></script>
      <script type="text/javascript" src="@(FlexSharedLayout.FlexPath)/Scripts/backbone.min.js"></script>

      <script type="text/javascript" src="@(FlexSharedLayout.FlexPath)/Scripts/cache-provider.min.js"></script>

      <script type="text/javascript" src="@(FlexSharedLayout.FlexPath)/Scripts/bootstrap.min.js"></script>
      <script type="text/javascript" src="@(FlexSharedLayout.FlexPath)/Scripts/bootstrap-hover-dropdown.min.js"></script>
      <script type="text/javascript" src="@(FlexSharedLayout.FlexPath)/Scripts/bootstrap-switch.min.js"></script>

      <script type="text/javascript" src="@(FlexSharedLayout.FlexPath)/Scripts/select2.min.js"></script>
      
      <script type="text/javascript">
         // Globals
         var _cacheProvider = new CacheProvider();
      </script>
      
      @RenderSection("HeadSection")
   </head>
   
   <body>
      @RenderSection("BodySection")
   </body>

</html>