@* Generator: MvcHelper *@
@* Namespace: FLEX.Web.MVC.Controls.ValueHolders *@

@using System.Web.Mvc
@using FLEX.Web.MVC.Controls.ValueHolders
@using PommaLabs.GRAMPA.Extensions

@helper BootstrapDatePicker(this HtmlHelper htmlHelper, BootstrapDatePickerOptions options) {

     <div ID="@options.ID-container" class="input-group date">
         <input ID="@options.ID" type="text" runat="server" class="form-control" />
         <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
      </div>
   
   
    <script type="text/javascript">
       $('#@(options.ID)-container').datepicker({
          format:  "@options.DateFormat",
          weekStart: 1,
          startView: @Convert.ToByte(options.StartView),
          minViewMode:@Convert.ToByte(options.MinView),
          todayBtn: "linked",
          autoclose: true,
          todayHighlight: true
       });
      
       $("#@options.ID").on('changeDate.datepicker', function(event) {
          @(options.ChangeDate)(event);
             });
      </script> 
}