@* Generator: MvcView *@
@* Namespace: FLEX.Web.MVC.Controls.DataVisualization *@

@using FLEX.Web.MVC.Controls.DataVisualization
@using PagedList.Mvc

@model FlexDataGridOptions

<div id="@Model.ID-container">
   <table id="@Model.ID" class="table table-striped table-bordered table-condensed table-hover">
      <thead>
         @foreach (var column in Model.Columns)
         {
            <th>@column.Header</th>
         }
      </thead>
      
      <tbody>

       @for (int indexItem = 0; indexItem < Model.PagedItems.Count; indexItem++ )
       {
           <tr>
                
            @foreach (var column in Model.Columns)
            {
               <td>
                  @column.Control(Model.PagedItems[indexItem])
               </td>
            }
            </tr>
       }
                 
      </tbody>
   </table>
   
   <div class="row">
      <div class="col-xs-4 text-left">
         Count
      </div>
      <div class="col-xs-4 text-center">
         ???
      </div>
      <div class="col-xs-4 text-right">
         <!-- Outputs a paging control that lets the user navigation to the previous page, next page, etc -->
         @Html.PagedListPager(Model.PagedItems, Model.PagerAction)
         <script type="text/javascript">
            var pageLinks = $("#@Model.ID-container .pagination a");
            pageLinks.attr("data-ajax", "true");
            pageLinks.attr("data-ajax-method", "GET");
            pageLinks.attr("data-ajax-mode", "replace");
            pageLinks.attr("data-ajax-update", "#@Model.ID-container");
         </script>
      </div>
   </div>
</div>
