@* Generator: MvcView *@
@* Namespace: FLEX.Web.MVC.Layouts.Pages *@

@using FLEX.Web.MVC.Controls.PageElements

@{
   Layout = "~/Layouts/Pages/FlexPageLayout_.cshtml";
}

@section HeadSection {
   <script type="text/javascript">
      function R(id) {
         var pageName = "@VirtualPath";
         var userName = "@HttpContext.Current.User.Identity.Name";
         var key = userName + "_VerticalSearch_" + pageName;
         var controlStatus = JSON.parse(localStorage.getItem(key));

         // If no exists _statusControl, create the array _statusControl
         if (controlStatus == null) {
            controlStatus = [];
         }

         if ($("#icr" + id).hasClass('glyphicon-chevron-down')) {
            $("#icr" + id).switchClass('glyphicon-chevron-down', 'glyphicon-chevron-up');
            var elemt = _.find(controlStatus, function (i) { return i.id == id; });
            if (elemt == null) {
               controlStatus.push({ id: id, closed: false, index: -1 });
            } else {
               elemt.closed = false;
            }

         } else if ($("#icr" + id).hasClass('glyphicon-chevron-up')) {
            $("#icr" + id).switchClass('glyphicon-chevron-up', 'glyphicon-chevron-down');
            var elemt = _.find(controlStatus, function (i) { return i.id == id; });
            if (elemt == null) {
               controlStatus.push({ id: id, closed: true, index: -1 });
            } else {
               elemt.closed = true;
            }
         }

         // Save in the localStorage the controlStatus array.
         localStorage.setItem(key, JSON.stringify(controlStatus));
      }
   </script>

   @RenderSection("HeadSection")
}

@section BodySection {
   
   <!-- Search Criteria (START) -->
   <div class="col-xs-3">
      <div id="search-criteria-panel" class="panel panel-primary">
         <div class="panel-heading">
            <h3 class="panel-title">Search Criteria</h3>
         </div>
         
         <div class="panel-body page-working-area">
            @RenderSection("SearchCriteriaSection")
         </div>
         
         <div class="panel-footer">
            <div class="row">
               <div class="col-xs-4 text-left">
                  <button type="button" id="btn-hide-search-criteria" class="btn btn-info">
                     <span id="icon-hide-search-criteria" class="glyphicon glyphicon-arrow-left padded-icon"></span>Hide
                  </button>
               </div>
               <div class="col-xs-4 text-center">
                  
               </div>
               <div class="col-xs-4 text-right">
                  <button type="button" id="btn-clear-search-criteria" class="btn btn-primary">
                     <span id="icon-clear-search-criteria" class="glyphicon glyphicon-trash padded-icon"></span>Clear
                  </button>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- Search Criteria (END) -->
   
   <!-- Search Criteria Placeholder (START) -->
   <button type="button" id="btn-criteria-placeholder" class="hidden col-xs-0-5 btn btn-primary">
      <span class="glyphicon glyphicon-arrow-right"></span>
   </button>
   <!-- Search Criteria Placeholder (END) -->

   <!-- Data Grid (START) -->
   <div class="col-xs-9">
      <div id="data-grid-panel" class="panel panel-primary">
         <div class="panel-heading">
            <h3 class="panel-title">TITLE</h3>
         </div>
         
         <div class="page-working-area">
            @RenderSection("DataGridSection")
         </div>
         
         <div class="panel-footer">
            
         </div>
      </div>
   </div>
   <!-- Data Grid (END) -->

}