@* Generator: MvcView *@
@* Namespace: FLEX.Web.MVC.Layouts.Pages *@

@using FLEX.Web.MVC.Controls.PageElements

@{
   Layout = "~/Layouts/FlexSharedLayout_.cshtml";
}

@section HeadSection {
   
   @RenderSection("HeadSection")
}

@section BodySection {

   <div id="main-page-container" class="container-fluid">
      @Html.FlexPageHeader()

      @Html.FlexMenuBar()
      
      <div class="row">
         @RenderSection("BodySection")
      </div>
   
      @Html.FlexPageFooter()
   </div>

}