@* Generator: MvcHelper *@
@* Namespace: Finsa.Caravan.Mvc.Controls.DataVisualization *@

@using System.Web.Mvc
@using System.Web.Mvc.Ajax
@using Finsa.Caravan.Extensions
@using Finsa.Caravan.Mvc.Controls.DataVisualization

@helper BootstrapTable(this AjaxHelper ajaxHelper, BootstrapTableOptions options)
{
   <script type="text/javascript" defer="defer">
      $(document).ready(function() {
         $('#@options.ID').bootstrapTable({
            showColumns: true,
            showExport: @options.ShowExportButton.ToJavaScriptBoolean(),
            showRefresh: true,
            showToggle: true
         });
      });
   </script>

   <div id="@options.ID-container">
      @ajaxHelper.ActionLink("update-grid", "InitializeSearchGrid", new {searchCriteriaJson = "", pageIndex = 1}, new AjaxOptions
      {
         HttpMethod = "GET",
         InsertionMode = InsertionMode.Replace,
         UpdateTargetId = @options.ID + "-container"
      }, new {id = "update-grid", @class = "hidden"})

      <table id="@options.ID" class="table table-striped table-condensed table-hover" data-toggle="table"
             data-pagination="@options.ShowPagination.ToJavaScriptBoolean()" 
             data-search="@options.ShowSearchBox.ToJavaScriptBoolean()">
         
         <thead>
            <tr>
               @foreach (var column in options.Columns)
               {
                  <th data-field="@column.ID" data-align="@column.HAlign" data-valign="@column.VAlign" data-sortable="@column.Sortable.ToJavaScriptBoolean()">
                     @column.Header
                  </th>
               }
            </tr>
         </thead>
      
         <tbody>
            @foreach (var item in options.Items)
            {
               <tr>
                  @foreach (var column in options.Columns)
                  {
                     <td>
                        @column.Control(item)
                     </td>
                  }
               </tr>
            }
         </tbody>
      </table>
   </div>
}