@* Generator: MvcHelper *@
@* Namespace: Finsa.Caravan.Mvc.Controls.DataVisualization *@

@using System.Web.Mvc
@using System.Web.Mvc.Ajax
@using Finsa.Caravan.Mvc.Controls.DataVisualization

@helper CaravanDataGrid(this AjaxHelper ajaxHelper, CaravanDataGridOptions options)
{
   <script type="text/javascript" defer="defer">
      $(document).ready(function() {
         $('#@options.ID').bootstrapTable();
      });
   </script>

   <div id="@options.ID-container">
      @ajaxHelper.ActionLink("update-grid", "InitializeSearchGrid", new {searchCriteriaJson = "", pageIndex = 1}, new AjaxOptions
      {
         HttpMethod = "GET",
         InsertionMode = InsertionMode.Replace,
         UpdateTargetId = @options.ID + "-container"
      }, new {id = "update-grid", @class = "hidden"})

      <table id="@options.ID" class="table table-striped table-condensed table-hover">
         <thead>
            <tr>
               @foreach (var column in options.Columns)
               {
                  <th>@column.Header</th>
               }
            </tr>
         </thead>
      
         <tbody>
            @foreach (var item in options.Items)
            {
               <tr>
                  @foreach (var column in options.Columns)
                  {
                     <td>
                        @column.Control(item)
                     </td>
                  }
               </tr>
            }
         </tbody>
      </table>
   </div>
}